.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form input {
    margin: 1rem;
}

form h4 {
    margin: 2rem 0.5rem;
}