.carrito {
    width: 35px;
}
.counter-cart span {
    position: absolute;
    top: 2.5rem;
    padding: 1px 8px;
    border-radius: 100%;
    color: white;
    background-color: red;
    text-decoration: none;
}