.card {
    border: none;
    position: relative;
    width: 350px;
    height: 250px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: 0.5s;
}
/* 
.card:hover {
    box-shadow: #111;
} */

.card .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.card .circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #187115;
    clip-path: circle(100px at center);
    transition: 1.5s;
}

.card .circle-ps4::before {
    background: #006dbc;
}

.card .circle-xbox::before {
    background: #187115;
}

.card .circle-nintendo::before {
    background: #d83133;
}

.card:hover .circle:before {
    clip-path: circle(400px at center);

}

.card:hover .circle-ps4:before {
    background: #0065c3;
}


.card img {
    border-radius: 0.5rem;
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    pointer-events: none;
    transition: 0.5s;
}

.card:hover img {
    left: 80%;
    height: 230px;
    border: 4px solid #fff;
}

.card .content {
    position: relative;
    top: 2rem;
    font-size: 1rem;
    width: 50%;
    right: 20%;
/*     padding: 20px 20px 20px 40px; */
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    /* Agregado */
    z-index: 1;
/*     display: flex;
    flex-direction: column;
    justify-content: space-around; */
}

.card:hover .content  {
    right: 5rem;
    opacity: 1;
    visibility: visible;
}

.card .content h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1em;
    margin: 10px 0;
}

.card .content p {
    color: #fff;
    margin: 5px 0;
}

.card .content a {
    text-align: center;
    position: relative;
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    color: #111;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
}


@media (max-width: 991px) {
    .card {
        width: auto;
        max-width: 350px;
        align-items: flex-start;
    }

    .card:hover {
        height: 600px;
    }

    .card .content {
        width: 100%;
        left: 0;
        padding: 40px;
    }

    .card:hover img {
        top: 70%;
        left: 50%;
        height: 300px;
    }
}

@media (max-width: 991px) {
    .card .content {
        padding: 40px;
    }
}