.containerContador {
  width: 150px;
}
  
  .contador {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
  }
  
  .obj {
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 8px;
  } 
  .number {
    font-size: 2rem !important;
    margin: -5px 0px;
  }
  
  .sumar {
    max-height: 3rem;
    /*   color: white;
    background-color: rgb(52, 52, 219); */
    border: none;
    background-color: transparent;
    padding: 0 10px;
  }
  
  .sumar:hover,
  .restar:hover {
    color: white;
    background-color: rgb(69, 214, 147);
    transition: all 0.3s;
  }
  
  .sumar:active,
  .restar:active {
    transform: scale(1.2, 1.2);
    background-color: rgb(134, 218, 178);
  }
  
  .restar {
    max-height: 3rem;
    /*   color: white;
    background-color: rgb(233, 42, 42); */
    border: none;
    background-color: transparent;
    padding: 0 15px;
  }
  
  .onAdd {
    margin: 1rem 0;
    border: 1px solid;
    border-radius: 15px;
    background-color: transparent;
    width: 15rem;
    padding: 1rem;
    transition: all 0.5s;
  }
  
  .onAdd:hover {
    color: white;
    background-color: rgb(69, 214, 147);
    transition: all 0.3s;
  }
  
  .onAdd:active {
    background-color: rgb(134, 218, 178);
    transform: scale(1.1, 1.1);
  }
  
  .onAdddisabled {
    margin: 1rem 0;
    border: none;
    border-radius: 15px;
    background-color: rgb(223, 223, 223);
    width: 15rem;
    padding: 1rem;
  }